body {
	background-color: rgba(0, 0, 0, 0.6);
}

.application {
	width: 760px;
	margin: auto;
	padding: 20px;
	border: 1px solid #333;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

.width100 {
	width: 100%;
}

.width80 {
	width: 80%;
}

.img {
	margin: 5px;
}

.base {
	width: 100%;
	display: inline-flex;
}

.left-bar {
	width: 20%;
	padding-right: 10px;
}
.title_right, .title_left, .title {
	width: 50%;
	background: #49e;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	height: 20px;
}
.title_right {
	text-align: right;
}
.title_left {
	text-align: left;
}
.title {
	text-align: center;
}
	.title_right a, .title a, .title_left a {
		display: block;
		color: white;
		font-weight: bold;
		text-decoration: none;
	}
	.left-bar a {
		display: flex;
		background: #49e;
		color: white;
		padding: 5px;
		font-weight: bold;
		border-bottom: 1px solid #fff;
		text-decoration: none;
	}
	.title_left a:hover,
	.title_right a:hover,
	.title a:hover,
	.left-bar a:hover {
		background: #7be;
	}

.footer {
	color: #666;
	font-size: 0.8em;
	text-align: center;
	margin: 15px 50px 0 15px;
	padding-top: 5px;
	border-top: 1px dotted #666;
}

.error {
	padding: 10px;
	background: #fdd;
	border-left: 3px solid #900;
	display: none;
}

.content {
	width: 98%;
	padding-left: 2%;
}
