body {
	background-color: rgba(0, 0, 0, 0.6);
}

.application {
	width: 760px;
	margin: auto;
	padding: 20px;
	border: 1px solid #333;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.width100 {
	width: 100%;
}

.width95 {
	width: 95%;
}
.width80 {
	width: 80%;
}
.width75 {
	width: 75%;
}
.width70 {
	width: 70%;
}
.width65 {
	width: 65%;
}
.width50 {
	width: 50%;
}
.width45 {
	width: 45%;
}
.width35 {
	width: 35%;
}
.width30 {
	width: 30%;
}
.width25 {
	width: 25%;
}
.width20 {
	width: 20%;
}
.width15 {
	width: 15%;
}
.width8 {
	width: 8%;
}
.width7 {
	width: 7%;
}
.width_rangen {
	width: 8%;
}
	label.width_rangen {
		width: 10%;
		font-size: 0.8em;
	}

.width_range {
	width: 10%;
}

.img {
	margin: 5px;
}
.display_none {
	visibility: hidden;
}
.board_left {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.error_input {
	background: red;
}
.back_green {
	background: green;
}
.back_red {
	background: red;
}
.back_gray {
	background: gray;
}
.back_yellow {
	background: yellow;
}
.base {
	width: 100%;
	display: inline-flex;
}

.left-bar {
	width: 20%;
	padding-right: 10px;
}
.title_right, .title_left, .title {
	width: 50%;
	background: #49e;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	height: 20px;
}
.title_right {
	text-align: right;
}
.title_left {
	text-align: left;
}
.title {
	text-align: center;
}
	.title_right a, .title a, .title_left a {
		display: block;
		color: white;
		font-weight: bold;
		text-decoration: none;
	}
	.left-bar a {
		display: flex;
		background: #49e;
		color: white;
		padding: 5px;
		font-weight: bold;
		border-bottom: 1px solid #fff;
		text-decoration: none;
	}
	.title_left a:hover, 
	.title_right a:hover, 
	.title a:hover, 
	.left-bar a:hover {
		background: #7be;
	}

.footer {
	color: #666;
	font-size: 0.8em;
	text-align: center;
	margin: 15px 50px 0 15px;
	padding-top: 5px;
	border-top: 1px dotted #666;
}

.error {
	padding: 10px;
	background: #fdd;
	border-left: 3px solid #900;
	display: none;
}

.content {
	width: 98%;
	padding-left: 2%;
}

.content_overflow {
	overflow: auto;
	max-height: 500px;
	margin-top: 10px;
}

.loop_tbl {
	display: block;
	border: 4px double black;
	text-align: center;
}
.margin_bot_2 {
	margin-bottom: 2px;
}
.margin_top_2 {
	margin-top: 3px;
}
#fieldset {
	margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100px;
}
.fieldset {
  border: 1px dotted #333;
  background:#ffffff;
}
.fieldset_div {
  width: 100%;
  display: inline-flex;
  margin-bottom: 2px;
}

.cyrcle_guard_off, .cyrcle_guard_on, .cyrcle_alarm, .cyrcle_off {
	margin: auto;
	border: 2px solid #fff;
	border-radius: 100%;
	display: inline-block;
	width: 45px; 
	height: 45px;
}
.cyrcle_guard_off {
	background: #108FE8;
	box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
.cyrcle_guard_on {
	background: #0EC518;
	box-shadow: 0 -2px 0 3px #0b9512 inset, 0 5px 5px rgba(0, 7, 1, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
.cyrcle_alarm {
	background: #E53030;
	box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
.cyrcle_off {
	background: #7d8e8f;
	box-shadow: 0 -2px 0 3px #6d6e6f inset, 0 5px 5px rgba(80, 100, 100, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}
@keyframes blinking_green {
	0% {background: #fff;}
	100% {background: #0EC518;}
}
@keyframes blinking_green_red {
	0% {background: #0EC518;}
	100% {background: #E53030;}
}
@keyframes blinking_red_green {
	0% {background: #E53030;}
	100% {background: #0EC518;}
}
@keyframes blinking_blue_red {
	0% {background: #108FE8;}
	100% {background: #E53030;}
}
.green_animation_guard_on {
	animation: blinking_green 0.5s infinite;
}
.green_animation_alarm_on {
	animation: blinking_red_green 0.5s infinite;
}
.green_animation_recovery {
	animation: blinking_green_red 0.5s infinite;
}
.green_animation_rec_tmp {
	animation: blinking_blue_red 0.5s infinite;
}

@keyframes blinking_red {
	0% {background: #fff;}
	100% {background: #E53030;}
}
.red_animation_unavailable {
	animation: blinking_red 1s infinite;
}
.red_animation_fault {
	animation: blinking_red 0.5s infinite;
}


.alignr {
	text-align: right;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div,
.hide + label + select ~ div {
    display: none;
}
/* вид текста label */
.hide + label,
.hide + label + select {
    margin: 0;
    padding: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: green;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div,
.hide:checked + label + select + div {
    display: block; 
    background: #f9f9f9;
    -moz-box-shadow: inset 0px 0px 5px #7d8e8f;
    -webkit-box-shadow: inset 0px 0px 5px #7d8e8f;
    box-shadow: inset 0px 0px 5px #7d8e8f;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
.hide + label:before {
    background-color: #49e;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}

.not-allowed {
  cursor: not-allowed;
}
.pointer {
  cursor: pointer;
}
.wait {
  cursor: wait;
}

/**********All styles popup**********/
.popup {
	padding:5px 15px 15px;
	position:fixed;
	top:100px;
	left:50%;
	display:none;
	overflow:hidden;
	border:1px solid #ccc;
	background:#fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	z-index:100;
}
	.popup h2 {
		font:bold 18px/32px Arial, san-serif;
	}
	.popup a.close {
		width:16px;
		height:16px;
		display:block;
		text-indent:-9999px;
		position:absolute;
		top:10px;
		right:10px;
		background:url(/img/close.gif) no-repeat;
	}

.close_x {
	width:16px;
	height:16px;
	text-indent:-9999px;
	display:block;
	top:10px;
	right:10px;
	background-color: red;
	background:url(/img/close.gif) no-repeat;
}
.del_x {
	width:16px;
	height:16px;
	text-indent:-9999px;
	display:block;
	top:10px;
	right:10px;
	background-color: blue;
	background:url(/img/del.gif) no-repeat;
}
/**********popup with form**********/
.reg_form {
	margin-left:-200px;
	width:400px;
}
	.reg_form form {
		margin-top:10px;
	}
	.reg_form label {
	/*	width:50%;*/
		height:26px;
		font:bold 12px/26px Arial, san-serif;
		display:inline-block;
		vertical-align:top;
		*display:inline;
		*zoom:1;
	}
	.reg_form input[type=submit]:hover {
		color:#fff;
	}
	
.table_align_left {
	text-align: left;
}

.btn_margin {
	margin-left: 15%;
}

.border1px {
	border: 1px solid black;
}

.margin3px {
	margin-botom: 1%;
	margin-top: 1%;
}
.padding_apply {
	padding-left: 2%;
}

.ctrl_tbl_string {
	width: 100%;
	height: 60px;
	display: inline-flex;
	padding: 1%;
	margin-top: 1%;
}
.cntrl_tbl_brd_bot {
	border-bottom: 1px solid black;
}
.ctrl_div_elem_height {
	height: 54px;
}
.ctrl_elem {
	height: 56px;
}
.ctrl_word_break {
	word-break: break-all;
}
.cntrl_align {
	text-align: center;
}

.ctrl_btn_disable {
	opacity: 0.65;
	cursor: not-allowed;
}

.ctrl_on_guard {
	background-color: #8df3fc;
}
.ctrl_off_guard {
	background-color: #defc85;
}
.ctrl_alarm_guard {
	background-color: #d61e03;
}
.center-please {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.ver_aligne {
	vertical-align:middle;
}
