body {
  background-color: rgba(0, 0, 0, 0.6);
}
.application {
  width: 730px;
  margin: auto;
  padding: 20px;
  border: 1px solid #333;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,1.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,1.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,1.5);
}
.header {
  width: 100%;
}
.img {
  margin: 5px;
}
.title {
  background: #49e;
  padding: 4px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  height: 16px;
  text-align: right;
}
.base {
  width: 100%;
  display: inline-flex;
}
.left-bar {
  width: 23%;
  padding-right: 10px;
}
.left-bar a {
  width: 140px;
  display: block;
  background: #49e;
  color: white;
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.left-bar a:hover {
  background: #7be;
}
.footer {
  font-size: 13px;
  color: #666;
  text-align: center;
  margin: 30px 50px 0 50px;
  padding-top: 10px;
  border-top: 1px dotted #666;
}
.scrolling-table tbody {
  display: block;
  height: 250px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.scrolling-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.scrolling-table th {
border:none;
border-bottom: 1px solid;
}
.content {
  width: 75%;
}
.content h1 {
  margin-top: 0px;
}
.error {
  padding: 10px;
  background: #fdd;
  border-left: 2px solid #900;
}
.result {
  margin: 10px 40px 10px 40px;
  padding: 8px;
  border: 1px solid #333;
  text-align: center;
  font-weight: bold;
  background: #eee;
}
.label_font{
  font-size: 13px;
}
.width100 {
  width: 100%;
}
.label_width{
  width: 80%;
}
.label_width2{
  width: 55%;
}
.input_width30{
  width: 30%;
}
.input_width_net{
  width: 25%;
}
.input_width {
  width: 53%;
}
fieldset {
  border: 1px dotted #333;
  background:#ddd;
}
fieldset div {
  width: 100%;
  display: inline-flex;
  margin-bottom: 2px;
}
fieldset label {
  width: 75%;
}
fieldset input {
  width: 25%;
}
.button_width{
  width: 50%;
}
.d_width{
  width: 90%;
}
.form_jrn{
  max-height: 100px;
  overflow: auto;
}
.container {
  overflow: hidden;
  overflow-y: hidden;
  height: 100%;
}
.container2 {
  overflow-y: auto;
  height: 130px;
}
#idjournal{
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
#idjournal td,th{
  border: black solid 1px;
}
#idPCT {
  width: 30%;
}
#idUsrT {
  width: 30%;
}
.ix_cell{
  text-align: center;
}
.date_cell{
  padding-left: 5px;
}
.event_cell{
  padding-left: 5px;
}
.row_red{
  background-color: #FF4D4D;
}
.row_white{
  background-color: white;
}
.row_yellow{
  background-color: yellow;
}
.row_green{
  background-color:   #4DFF62;
}
.row_gray{
  background-color: gray;
}
.spacer {
	clear: both;
}
#version {
	font-size: 0.8em;
	text-align: center;
	margin: 15px 50px 0 15px;
	padding-top: 5px;
	border-top: 1px dotted #666;
}
#footer {
	font-size: 0.8em;
	color: #666;
	text-align: center;
	margin: 15px 50px 0 15px;
	padding-top: 5px;
	border-top: 1px dotted #666;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
